{% extends 'login-files/PainelBase.html' %}
{% load staticfiles %}

{% block content %}

    <form method="post" class="form-horizontal" data-parsley-validate="">
        {% csrf_token %}
        <fieldset>

            <!-- Form Name -->
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center">
                    <h3 class="panel-title">
                        <strong><i class="fa fa-cog"></i> Gerar Cesta</strong>
                    </h3>
                    <p >Escolha uma Estrutura de Cesta para gerar automaticamente uma
                        Cesta contendo os produtos de menor custo a partir da estrutura selecionada.</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="nome">Estrutura da Cesta</label>
                <div class="col-md-4">
                    {{ form.basketskel }}

                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="marca">Lucro</label>
                <div class="col-md-4">
                    {{ form.profit }}

                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 col-form-label" for="foto" style="padding-right: 0">Foto</label>
                <div class="col-md-8" >
                    {{ form.file}}

                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <button id="btn_salvar" name="submit" class="btn btn-success btn-block" type="submit">
                                Criar
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <a href="{% url "painel" %}" id="btn_cancelar" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>

{% endblock %}