{% extends 'login-files/PainelBase.html' %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- /.box-header -->
                <div class="box-header">
                </div>
                <!-- /.box-body -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>NOME</th>
                                        <th>CUSTO</th>
                                        <th>PREÇO</th>
                                        <th>LUCRO</th>
                                        <th>ESTOQUE</th>>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for basket in baskets %}
                                        <tr>
                                            <td><a href="/painel/basket_list/{{ basket.id }}">{{ basket }}</a></td>
                                            <td>R$ {{ basket.cost }}</td>
                                            <td>R$ {{ basket.price }}</td>
                                            <td>{{ basket.profit }}</td>
                                            <td>{{ basket.stock }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                {% if user.is_superuser %}
                    <div class="box-footer">
                        <a href="{% url 'painel' %}" class="btn btn-default pull-left">Voltar</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#list_basket').addClass('active');
        });
    </script>

{% endblock %}