{% extends 'login-files/PainelBase.html' %}
{% load staticfiles %}

{% block content %}


    <div class="treasure panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title" align="center">{{ basket.name }}</h3>
        </div>

        <div class="panel-body">
            <center>
                <div class="form-group">
                    <label for="exampleInputPassword1"> </label>
                    <img src="{{ basket.photo }}" class="img-responsive" height="160" width="160"/>
                </div>
            </center>
            <table class="treasure-table" align="center">
                <tr>
                    <th>
                        Custo:
                    </th>
                    <td>R$ {{ basket.cost }}</td>
                </tr>
                <tr>
                    <th>
                        Preço:
                    </th>
                    <td>R$ {{ basket.price }}</td>
                </tr>
                <tr>
                    <th>
                        Lucro:
                    </th>
                    <td>{{ basket.profit }}</td>
                </tr>
                <tr>
                    <th>
                        Estoque:
                    </th>
                    <td>{{ basket.stock }}</td>
                </tr>

            </table>
        </div>

        <div class="treasure panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title" align="center">Produtos Incluidos </h3>
                <b></b>
                <div></div>
            </div>
            <div class="panel-body">
                {% for basketcontent in basket.basketcontent_set.all %}
                    <tr>
                        <div class="col-md-4">
                            <div class="treasure panel panel-default">
                                <!-- Adding treasure title by username -->
                                <div class="panel-heading">
                                    <h3 class="panel-title" align="center">{{ basketcontent.product.name }}</h3>
                                </div>
                                <!-- Adding treasure image -->
                                <div class="panel-body" align="center">
                                    <a href="/painel/product/{{ basketcontent.product.id }}">
                                        <div class="treasure-photo">
                                            <img src="{{ basketcontent.product.photo }}" height="160" width="160">
                                        </div>
                                    </a>
                                    <!-- Adding Like Button -->

                                </div>
                                <div align="center">
                                    R$ {{ basketcontent.product.price }}
                                </div>
                                <div align="center">
                                    Quantidade: {{ basketcontent.qnt }}
                                </div>

                            </div>
                        </div>
                    </tr>
                {% endfor %}

            </div>
        </div>

        <div class="row">
            <div class="center-block" style="width:300px">
                <a href="{% url 'edit_basket' basket.pk %}" id="btn_edit"
                   class="btn btn-default center-block" type="submit">
                    <i class="fas fa-pencil-alt"></i> Editar
                </a>
            </div>
            <div class="center-block" style="width:300px">
                <a href="{% url "basket_list" %}" id="btn_cancelar"
                   class="btn btn-danger center-block btn-block" type="submit">
                    <i class="fas fa-chevron-left"></i> Voltar
                </a>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-md-4 pull-right" style="width:160px">
                <a href="{% url 'delete_basket' basket.pk %}" id="btn_del" class="btn btn-default btn-block pull-right">
                    <i class="fa fa-trash" style="color: #dd000b"></i> Deletar Cesta
                </a>
            </div>
        </div>


    </div>
{% endblock %}