{% extends 'login-files/PainelBase.html' %}
{% load staticfiles %}

{% block content %}

    <form method="post" class="form-horizontal" enctype="multipart/form-data" data-parsley-validate="">
        {% csrf_token %}
        <fieldset>

            <!-- Form Name -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center">
                        <strong>Criar Cesta</strong>
                    </h3>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="nome">Nome</label>
                <div class="col-md-4">
                    {{ form.name}}

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="lucro">Lucro</label>
                <div class="col-md-4">
                    {{ form.profit }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="stock">Estoque</label>
                <div class="col-md-4">
                    {{ form.stock }}
                </div>
            </div>

            <div style="color:red; text-align: center">
                {{ products_formset.non_form_errors }}
            </div>

            {{ products_formset.management_form }}
            <div id="form_set">
                {% for form in products_formset %}
                    {{ form.id }}
                    <div class="form-group">
                        <div style="color:red; text-align: center">
                            {{ form.product.errors }}
                            {{ form.qnt.errors }}
                        </div>
                        <label class="col-md-1 control-label" for="lucro">Produto</label>
                        <div class="col-md-4">
                            {{ form.product }}
                        </div>
                        <label class="col-md-1 control-label" for="lucro">Quantidade</label>
                        <div class="col-md-2">
                            {{ form.qnt }}
                        </div>
                        <div class="col-md-2">
                            {{ form.DELETE }} <i class="fa fa-trash" style="color: #dd000b"></i> Remover
                        </div>
                    </div>
                {% endfor %}

            </div>

            <div class="form-group">
                <label class="col-sm-2 col-form-label" for="foto" style="padding-right: 0">Foto</label>
                <div class="col-md-8" >
                    {{ form.file}}

                </div>
            </div>


            <div style="display:none;" id="empty_form">
                {{ products_formset.empty_form.id }}
                <div class="form-group">
                    <div style="color:red; text-align: center">
                        {{ products_formset.empty_form.product.errors }}
                        {{ products_formset.empty_form.qnt.errors }}
                    </div>
                    <label class="col-md-1 control-label" for="lucro">Produto</label>
                    <div class="col-md-4">
                        {{ products_formset.empty_form.product }}
                    </div>
                    <label class="col-md-1 control-label" for="lucro">Quantidade</label>
                    <div class="col-md-2">
                        {{ products_formset.empty_form.qnt }}
                    </div>
                    <div class="col-md-2">
                        {{ products_formset.empty_form.DELETE }} <i class="fa fa-trash" style="color: #dd000b"></i> Remover
                    </div>
                </div>
            </div><!-- stores empty form for javascript -->

            <!-- Button -->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button id="add_more" class="btn btn-default btn-block" type="button">
                                <i class="fa fa-plus margin-r-5" style="color: #00a65a"></i> Adicionar Mais
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <button id="btn_salvar" name="submit" class="btn btn-success btn-block" type="submit">
                                Salvar
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <a href="{% url "painel" %}" id="btn_cancelar" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $('[name=photo]').attr('required', 'false');
        });
    </script>

    <script>
        $('#add_more').click(function() {
            var form_idx = $('#id_products-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_products-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#new_basket').addClass('active');
        });
    </script>

{% endblock %}