{% extends 'login-files/PainelBase.html' %}
{% load staticfiles %}

{% block content %}

    <form method="post" class="form-horizontal" data-parsley-validate="">
        {% csrf_token %}
        <fieldset>

            <!-- Form Name -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <center>Criar Estrutura de Cesta</center>
                    </h3>
                </div>
            </div>

             <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                    {{ form.as_p }}
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <button id="btn_salvar" name="submit" class="btn btn-success btn-block" type="submit">
                                Criar
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <a href="{% url "painel" %}" id="btn_cancelar" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#new_basketskel').addClass('active');
        });
    </script>

{% endblock %}