{% extends 'login-files/PainelBase.html' %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="box">
            <!-- /.box-body -->
            <div class="box-body">
                <div class="col-md-6">

                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">

                            <h3 class="profile-username text-center">{{ user_l.first_name }} {{ user_l.last_name }}</h3>

                            <p class="text-muted text-center">Administrador</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Informações</h3>
                        </div>
                        <div class="box-body">
                            <strong><i class="fa fa-phone margin-r-5"></i> Telefone</strong>

                            <p class="text-muted">
                                {{ user_l.serviceadm.phone }}
                            </p>

                            <hr>

                            <strong><i class="fa fa-envelope margin-r-5"></i> Email</strong>
                            <p>
                                {{ user_l.email }}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class=" box-footer form-group" style="margin-top: 35px;">

                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="{% url 'edit_adm' %}" id="btn_edit" class="btn btn-default btn-block pull-left">
                                <i class="fas fa-pencil-alt"></i> Editar Conta
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a href="{% url 'change_password_adm' %}" id="btn_edit" class="btn btn-default btn-block pull-left">
                                <i class="fas fa-key"></i> Mudar Senha
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a href="{% url 'delete_adm' %}" id="btn_del" class="btn btn-default btn-block pull-left">
                                <i class="fas fa-user-slash" style="color: #dd000b"></i> Deletar Conta
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript">
    $(document).ready(function () {
        $('#info').addClass('active');
    });
    </script>

{% endblock %}