{% extends 'login-files/PainelBase.html' %}
{% load staticfiles %}

{% block content %}

    <form method="post" class="form-horizontal" enctype="multipart/form-data" data-parsley-validate="">
        {% csrf_token %}
        <fieldset>

            <div class="treasure panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title" align="center">Compra {{ form.instance.id }}</h3>
                </div>

                <div class="panel-body">
                    <table class="treasure-table" align="center">
                        <tr>
                            <th>
                                Total:
                            </th>
                            <td>R$ {{ form.instance.total }}</td>
                        </tr>
                        <tr>
                            <th>
                                Comprador:
                            </th>
                            <td>{{ form.instance.client.serviceclient }}</td>
                            <th>
                                CPF:
                            </th>
                            <td>{{ form.instance.client.serviceclient.cpf }}</td>
                        </tr>
                        <tr>
                            <th>
                                Situação:
                            </th>
                            <td>{{ form.status }}</td>
                        </tr>

                    </table>
                </div>

                <div class="form-group">
                    <div class="col-md-8 col-md-offset-3">
                        <div class="row">
                            <div class="col-sm-4">
                                <button id="btn_salvar" name="submit" class="btn btn-success btn-block" type="submit">
                                    Salvar
                                </button>
                            </div>
                            <div class="col-sm-4">
                                <a href="{% url 'list_purchases' %}" id="btn_back" class="btn btn-danger btn-block">
                                    <i class="fas fa-chevron-left"></i> Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="treasure panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title" align="center">Produtos Comprados </h3>
                        <b></b>
                        <div></div>
                    </div>
                    <div class="panel-body">
                        {% for content in form.instance.purchaseproduct_set.all %}
                            <tr>
                                <div class="col-md-4">
                                    <div class="treasure panel panel-default">
                                        <!-- Adding treasure title by username -->
                                        <div class="panel-heading">
                                            <h3 class="panel-title" align="center">{{ content.product.name }}</h3>
                                        </div>
                                        <!-- Adding treasure image -->
                                        <div class="panel-body" align="center">
                                            <a href="{%  url 'product' content.product.id %}">
                                                <div class="treasure-photo">
                                                    <img src="{{ content.product.photo }}" height="160" width="160">
                                                </div>
                                            </a>
                                            <!-- Adding Like Button -->

                                        </div>
                                        <div align="center">
                                            R$ {{ content.price }}
                                        </div>
                                        <div align="center">
                                            Quantidade: {{ content.qnt }}
                                        </div>

                                    </div>
                                </div>
                            </tr>
                        {% endfor %}

                        {% for content in form.instance.purchasebasket_set.all %}
                            <tr>
                                <div class="col-md-4">
                                    <div class="treasure panel panel-default">
                                        <!-- Adding treasure title by username -->
                                        <div class="panel-heading">
                                            <h3 class="panel-title" align="center">{{ content.basket.name }}</h3>
                                        </div>
                                        <!-- Adding treasure image -->
                                        <div class="panel-body" align="center">
                                            <a href="{% url 'basket_list_detail' content.basket.id %}">
                                                <div class="treasure-photo">
                                                    <img src="{{ content.basket.photo }}" height="160" width="160">
                                                </div>
                                            </a>
                                            <!-- Adding Like Button -->

                                        </div>
                                        <div align="center">
                                            R$ {{ content.price }}
                                        </div>
                                        <div align="center">
                                            Quantidade: {{ content.qnt }}
                                        </div>

                                    </div>
                                </div>
                            </tr>
                        {% endfor %}

                    </div>
                </div>

            </div>

        </fieldset>
    </form>
{% endblock %}