{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <center>Login</center>
            </h3>
        </div>
    </div>
    <div class="container">

        <div class="row" style="margin-top: 50px;">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">

                    <div class="panel-body center">
                        <form method="post" class="form-horizontal" data-parsley-validate="">{% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="username">Login</label>
                                    <div class="col-md-10">
                                        {{ form.username }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="password">Senha</label>
                                    <div class="col-md-10">
                                        {{ form.password }}
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-success btn-block" type="submit">Entrar</button>
                            </fieldset>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <h4 class="">
                            <a href="{% url 'register_client' %}">
                                <center>Se você não possui um login, cadastre-se aqui</center>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}