{% extends 'login-files/PainelBase.html' %}
{% load staticfiles %}

{% block content %}

    <conteiner>
        <h2>Bem vindo</h2>
    </conteiner>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#home').addClass('active');
        });
    </script>

    <div id="container"></div>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script>
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Produtos Mais Vendidos'
            },
            xAxis: {
                categories: {{ mais_vendidos|safe }}
            },
            series: [{
                name: 'Quantidade de Vendas',
                data: {{ categories_mais |safe }},
                color: 'blue'
            }]
        });
    </script>


    <div id="container2"></div>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script>
        Highcharts.chart('container2', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Produtos Menos Vendidos'
            },
            xAxis: {
                categories: {{ menos_vendidos|safe }}
            },
            series: [{
                name: 'Quantidade de Vendas',
                data: {{ categories_menos|safe }},
                color: 'red'
            }]
        });
    </script>
{% endblock %}