<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CompraAgendada | Painel</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href='{% static 'bootstrap/css/bootstrap.min.css' %}'>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    {#    <!-- Ionicons -->#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href='{% static 'dist/css/AdminLTE.css' %}'>
    <!-- AdminLTE Skins -->
    <link rel="stylesheet" href='{% static 'dist/css/skins/_all-skins.min.css' %}'>
    <!-- iCheck -->
    <link rel="stylesheet" href='{% static 'plugins/iCheck/flat/blue.css' %}'>
    <!-- Date Picker -->
    <link rel="stylesheet" href='{% static 'plugins/datepicker/datepicker3.css' %}'>
    <!-- Daterange picker -->
    <link rel="stylesheet" href='{% static 'plugins/daterangepicker/daterangepicker-bs3.css' %}'>
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href='{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}'>

    <link rel="stylesheet" href="{% static 'css/sweetalert.min.css' %}">

    <link rel="stylesheet" type="text/css"
          href="{% static 'css/datatables.min.css' %}"/>

    <script src="{% static 'js/parsley.min.js' %}"></script>
    <link href="{% static 'css/parsley.css' %}" rel="stylesheet">
    <style></style>

</head>
<body class="hold-transition skin-red">
<!-- jQuery 2.2.0 -->
<script
        src="{% static 'plugins/jQuery/jQuery-2.2.0.min.js' %}"></script>
<script src="{% static 'js/parsley.min.js' %}"></script>
<script src="{% static 'js/cpf-cnpj-validate.js' %}"></script>
<link href="{% static 'css/parsley.css' %}" rel="stylesheet">
<div class="wrapper">

    <header class="main-header">
            <!-- Logo -->
            <a href="{% url "home" %}" class="logo" style="background-color: #ac2925">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>T</b>D<b>B</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>CompraAgendada</b></span>
            </a>
        <nav class="navbar navbar-static-top" style="background-color: #ac2925"></nav>
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar" style="background-color: #ac2925">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" style="color: white">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{% static 'logo1.png' %}" class="img-thumbnail" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" id="menu">
                <li class="header">MENU</li>

                <li id="home">
                    <a href="{% url "painel" %}">
                        <i class="fa fa-home"></i> <span>Início</span>
                    </a>
                </li>
                <li id="info">
                    <a href={% url "detail_adm" %}>
                        <i class="fa fa-id-card"></i> <span>Suas Informações</span>
                    </a>
                </li>
                <li id="new_product_type">
                    <a href={% url "new_product_type" %}>
                        <i class="fa fa-tag"></i> <span>Cadastrar Tipo de Produto</span>
                    </a>
                </li>
                <li id="list_product_type">
                    <a href={% url "product_type_list" %}>
                        <i class="fa fa-tags"></i> <span>Tipos de Produto</span>
                    </a>
                </li>
                <li id="new_product">
                    <a href={% url "register_product" %}>
                        <i class="fa fa-cube"></i> <span>Novo Produto</span>
                    </a>
                </li>
                <li id="list_product">
                    <a href={% url "products" %}>
                        <i class="fa fa-cubes"></i> <span>Produtos</span>
                    </a>
                </li>
                <li id="new_basket">
                    <a href={% url "create_basket" %}>
                        <i class="fas fa-shopping-basket"></i> <span>Nova Cesta</span>
                    </a>
                </li>
                <li id="list_basket">
                    <a href={% url "basket_list" %}>
                        <i class="fas fa-bars"></i> <span>Cestas</span>
                    </a>
                </li>
                <li id="register_purchase">
                    <a href="{% url 'register_purchase' %}">
                        <i class="fas fa-shopping-cart"></i> <span>Registrar Compra</span>
                    </a>
                </li>
                <li id="list_purchase">
                    <a href="{% url 'list_purchases' %}">
                        <i class="fas fa-shopping-bag"></i> <span>Compras</span>
                    </a>
                </li>

                <li id="logout">
                    <a href="{% url "logout" %}">
                        <i class="fas fa-sign-out-alt"></i> <span>Sair</span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            {% block content %}

            {% endblock %}

        </section>
        <!-- /.content -->
    </div>
</div>

<!-- ./wrapper -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>&copy; CompraAgendada</b>
    </div>
</footer>

<!-- jQuery UI 1.11.4 -->
<script src="{% static 'plugins/jQueryUI/jquery-ui.min.js' %}"></script>

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>

<!-- Bootstrap 3.3.5 -->
<script src='{% static 'bootstrap/js/bootstrap.min.js' %}'></script>
<!-- jQuery Knob Chart -->
<script src='{% static 'plugins/knob/jquery.knob.js' %}'></script>
<!-- datepicker -->
<script src='{% static 'plugins/datepicker/bootstrap-datepicker.js' %}'></script>
<!-- Bootstrap WYSIHTML5 -->
<script src='{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}'></script>
<!-- Slimscroll -->
<script src='{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}'></script>
<!-- FastClick -->
<script src='{% static 'plugins/fastclick/fastclick.min.js' %}'></script>

<script src='{% static 'plugins/chartjs/Chart.js' %}'></script>

<script src="{% static 'js/jquery.inputmask.bundle.js' %}"></script>
<!-- AdminLTE App -->
<script src='{% static 'dist/js/app.min.js' %}'></script>


<script type="text/javascript" src="{% static 'js/sweetalert.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>

<script src="{% static "dist/js/chartReport.js" %}"></script>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <script>
                $(document).ready(function () {
                    swal("Erro", "{{ message }}", "error")
                });
            </script>
        {% else %}
            <script>
                $(document).ready(function () {
                    swal("Sucesso", "{{ message }}", "success")
                });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            clearBtn: true,
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            autoclose: true
        });
        $('[name=cep]').focusout(function () {
            $('#loading').show();
            var cep = $('[name=cep]');
            var cepCode = cep.val();
            if (cepCode.length <= 0) return;
            $.ajax({
                type: 'GET',
                url: 'http://apps.widenet.com.br/busca-cep/api/cep.json',
                data: {code: cepCode},
                success: function (result) {
                    $('#loading').hide();
                    if (result.status == 0) {
                        alert(result.message || "Houve um erro desconhecido");
                        return;
                    } else {
                        $('[name=cep]').val(result.code);
                        $('[name=city]').val(result.city);
                        var index = result.address.search('-');
                        if (index != -1) {
                            address = result.address.substring(0, index);
                        } else {
                            address = result.address;
                        }
                        $('[name=address]').val(address);
                        $('[name=district]').val(result.district);
                        $('[name=state]').val(result.state);
                    }
                }
            });
        });
        $('[name=phone]').inputmask('(99) 9999[9]-9999');
        $('[name=cpf]').inputmask('999.999.999-99');
        $('[name=cpf]').focusout(function () {
            var cpf = $(this).val();
            if (!valida_cpf(cpf)) {
                $('#loading').hide();
                swal("CPF Inválido", "Insira um CPF válido", "error");
            }
        });
    });
</script>

</body>
</html>