{% extends 'login-files/PainelBase.html' %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- /.box-header -->
                <div class="box-header">
                </div>
                <!-- /.box-body -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>TIPO</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for type in types %}
                                        <tr>
                                            <td>{{ type }}</td>
                                            <td>
                                                <div class="col-md-4 pull-right" style="width:80px">
                                                    <a href="{% url 'delete_product_type' type.pk %}" id="btn_del" class="btn btn-default btn-block pull-right">
                                                        <i class="fa fa-trash" style="color: #dd000b"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                {% if user.is_superuser %}
                    <div class="box-footer">
                        <a href="{% url 'painel' %}" class="btn btn-default pull-left">Voltar</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#list_product_type').addClass('active');
        });
    </script>

{% endblock %}