{% extends 'login-files/PainelBase.html' %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- /.box-header -->
                <div class="box-header">
                </div>
                <!-- /.box-body -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>COMPRADOR</th>
                                        <th>DATA</th>
                                        <th>VALOR TOTAL</th>
                                        <th>SITUAÇÃO</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for purchase in purchases %}
                                            <tr>
                                                <td><a href="{% url 'purchase_cotrol' purchase.pk %}">
                                                    {{ purchase.id }}</a></td>
                                                <td>{{ purchase.client.serviceclient }}</td>
                                                <td>{{ purchase.created_at }}</td>
                                                <td>R$ {{ purchase.total }}</td>
                                                <td>{% if purchase.status == "IN_PROGRESS" %}
                                                        <label class="label label-warning">
                                                    {% elif purchase.status == "AWAITING_PAYMENT" %}
                                                        <label class="label label-info">
                                                    {% elif purchase.status == "CANCELED" %}
                                                        <label class="label label-danger">
                                                    {% else %}
                                                        <label class="label label-success">
                                                    {% endif %}
                                                            {{ purchase.get_status_display }}
                                                        </label>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                {% if user.is_superuser %}
                    <div class="box-footer">
                        <a href="{% url 'painel' %}" class="btn btn-default pull-left">Voltar</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#list_purchase').addClass('active');
        });
    </script>

{% endblock %}