{% extends 'login-files/PainelBase.html' %}
{% load staticfiles %}

{% block content %}

    <form method="post" class="form-horizontal" enctype="multipart/form-data" data-parsley-validate="">
        {% csrf_token %}
        <fieldset>

            <!-- Form Name -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center">
                        <strong>Registar Compra</strong>
                    </h3>
                </div>
            </div>
            <br>
            <div class="panel panel-default">
                <h6 class="panel-title" style="text-align: center">
                    Dados do cliente
                </h6>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="fst_name">Primeiro Nome</label>
                <div class="col-md-4">
                    {{ form.first_name }}

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="lst_name">Ultimo Nome</label>
                <div class="col-md-4">
                    {{ form.last_name }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="cpf">CPF</label>
                <div class="col-md-4">
                    {{ form.cpf }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="telefone1">Telefone</label>
                <div class="col-md-4" data-parsley-required="False">
                    {{ form.phone }}

                </div>
            </div>


            <div class="panel panel-default">
                    <h6 class="panel-title" style="text-align: center">
                        Endereço
                    </h6>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="cep">CEP</label>
                <div class="col-md-4">
                    {{ form.cep }}
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="address">Rua</label>
                <div class="col-md-4">
                    {{ form.address }}
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="number">Nº</label>
                <div class="col-md-4">
                    {{ form.number }}
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="state">Estado</label>
                <div class="col-md-4">
                    {{ form.state }}
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="city">Cidade</label>
                <div class="col-md-4">
                    {{ form.city }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="district">Bairro</label>
                <div class="col-md-4">
                    {{ form.district }}
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="complement">Complemento</label>
                <div class="col-md-4">
                    {{ form.complement }}
                </div>
            </div>


            <div class="panel panel-default">
                    <h6 class="panel-title" style="text-align: center">
                        Cestas
                    </h6>
            </div>


            <div style="color:red; text-align: center">
                {{ baskets_formset.non_form_errors }}
            </div>

            {{ baskets_formset.management_form }}
            <div id="form_set">
                {% for form in baskets_formset %}
                    {{ form.id }}
                    <div class="form-group">
                        <div style="color:red; text-align: center">
                            {{ form.basket.errors }}
                            {{ form.qnt.errors }}
                        </div>
                        <label class="col-md-1 control-label" for="lucro">Cesta</label>
                        <div class="col-md-4">
                            {{ form.basket }}
                        </div>
                        <label class="col-md-1 control-label" for="lucro">Quantidade</label>
                        <div class="col-md-2">
                            {{ form.qnt }}
                        </div>
                        <div class="col-md-2">
                            {{ form.DELETE }} <i class="fa fa-trash" style="color: #dd000b"></i> Remover
                        </div>
                    </div>
                {% endfor %}

            </div>


            <div style="display:none;" id="empty_form">
                {{ baskets_formset.empty_form.id }}
                <div class="form-group">
                    <div style="color:red; text-align: center">
                        {{ baskets_formset.empty_form.basket.errors }}
                        {{ baskets_formset.empty_form.qnt.errors }}
                    </div>
                    <label class="col-md-1 control-label" for="lucro">Cesta</label>
                    <div class="col-md-4">
                        {{ baskets_formset.empty_form.basket }}
                    </div>
                    <label class="col-md-1 control-label" for="lucro">Quantidade</label>
                    <div class="col-md-2">
                        {{ baskets_formset.empty_form.qnt }}
                    </div>
                    <div class="col-md-2">
                        {{ baskets_formset.empty_form.DELETE }} <i class="fa fa-trash" style="color: #dd000b"></i> Remover
                    </div>
                </div>
            </div><!-- stores empty form for javascript -->

            <!-- Button -->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button id="add_more" class="btn btn-default btn-block" type="button">
                                <i class="fa fa-plus margin-r-5" style="color: #00a65a"></i> Adicionar Mais
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <button id="btn_salvar" name="submit" class="btn btn-success btn-block" type="submit">
                                Salvar
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <a href="{% url "painel" %}" id="btn_cancelar" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>

    <script>
        $('#add_more').click(function() {
            var form_idx = $('#id_baskets-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_baskets-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#register_purchase').addClass('active');
        });
    </script>

{% endblock %}