{% extends 'login-files/PainelBase.html' %}
{% load staticfiles %}

{% block content %}

    <form method="post" class="form-horizontal" data-parsley-validate="">
        {% csrf_token %}

        <fieldset>

            <!-- Form Name -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center">
                        Mudar Senha
                    </h3>
                </div>
            </div>

            <div class="form-group">
                <div style="color:red; text-align: center">
                    {{ form.old_password.errors }}
                </div>
                <label class="col-md-4 control-label" for="senha">Senha Atual</label>
                <div class="col-md-4">
                    {{ form.old_password }}
                </div>
            </div>

            <div class="form-group">
                <div style="color:red; text-align: center">
                        {{ form.password.errors }}
                        {{ form.password2.errors }}
                </div>
                <label class="col-md-4 control-label" for="senha">Senha Nova</label>
                <div class="col-md-4">
                    {{ form.new_password1 }}
                </div>
            </div>

            <div class="form-group">
                <div style="color:red; text-align: center">
                        {{ form.new_password2.errors }}
                </div>
                <label class="col-md-4 control-label" for="senha">Confirmar Senha Nova</label>
                <div class="col-md-4">
                    {{ form.new_password2 }}
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <button id="btn_salvar" name="submit" class="btn btn-success btn-block" type="submit">
                                Salvar
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <a href="{% url 'detail_adm' %}" id="btn_cancelar" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#client_register').addClass('active');
        });
    </script>

{% endblock %}