{% extends 'login-files/PainelBase.html' %}
{% load staticfiles %}

{% block content %}

    <form method="post" class="form-horizontal" data-parsley-validate="">
        {% csrf_token %}
        <fieldset>

            <!-- Form Name -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center">
                        Edite seu perfil
                    </h3>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="nome">Nome</label>
                <div class="col-md-4">
                    {{ form.first_name }}

                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="nome">Sobrenome</label>
                <div class="col-md-4">
                    {{ form.last_name }}

                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-4">
                    {{ form.email }}

                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="telefone1">Telefone</label>
                <div class="col-md-4" data-parsley-required="False">
                    {{ form.phone }}

                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <button id="btn_salvar" name="submit" class="btn btn-success btn-block" type="submit">
                                Salvar
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <a href="{% url 'detail_adm' %}" id="btn_cancelar" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#info').addClass('active');
        });
    </script>

{% endblock %}