{% extends 'login-files/PainelBase.html' %}
{% load staticfiles %}

{% block content %}

    <form method="post" class="form-horizontal" enctype="multipart/form-data" data-parsley-validate="">
        {% csrf_token %}
        <fieldset>

            <!-- Form Name -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <center>Editar Produto</center>
                    </h3>
                </div>
            </div>
            {{ form.erros }}
            {{ form.type.erros }}

            <div class="form-group">
                <label class="col-md-4 control-label" for="nome">Nome do Produto</label>
                <div class="col-md-4">
                    {{ form.name}}

                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="marca">Marca do Produto </label>
                <div class="col-md-4">
                    {{ form.brand }}

                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="distribuidor">Distribuidor do Produto</label>
                <div class="col-md-4">
                    {{ form.distributor}}

                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="preco">Custo do Produto</label>
                <div class="col-md-4">
                    {{ form.cost }}
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="lucro">Lucro do Produto</label>
                <div class="col-md-4">
                    {{ form.profit }}
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="tipo">Tipo</label>
                <div class="col-md-4">
                    {{ form.type }}
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="stock">Estoque</label>
                <div class="col-md-4">
                    {{ form.stock }}
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 col-form-label" for="foto" style="padding-right: 0">Foto</label>
                <div class="col-md-8" >
                    {{ form.file}}

                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <button id="btn_salvar" name="submit" class="btn btn-success btn-block" type="submit">
                                Salvar
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <a href="{% url 'product' product.pk %}" id="btn_cancelar" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>


    <script type="text/javascript">
        $(document).ready(function () {
            $('[name=photo]').attr('required', 'false');
        });
    </script>

{% endblock %}