{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <form method="post" class="form-horizontal" data-parsley-validate="">
        {% csrf_token %}
        <fieldset>

            <!-- Form Name -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <center>Edite seu perfil</center>
                    </h3>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="nome">Nome</label>
                <div class="col-md-4">
                    {{ form.first_name }}

                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="nome">Sobrenome</label>
                <div class="col-md-4">
                    {{ form.last_name }}

                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-4">
                    {{ form.email }}

                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="telefone1">Telefone</label>
                <div class="col-md-4" data-parsley-required="False">
                    {{ form.phone }}

                </div>
            </div>


            <div class="panel panel-default">
                    <h6 class="panel-title">
                        <center>Endereço</center>
                    </h6>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="cep">CEP</label>
                <div class="col-md-4">
                    {{ form.cep }}
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="address">Rua</label>
                <div class="col-md-4">
                    {{ form.address }}
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="number">Nº</label>
                <div class="col-md-4">
                    {{ form.number }}
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="state">Estado</label>
                <div class="col-md-4">
                    {{ form.state }}
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="city">Cidade</label>
                <div class="col-md-4">
                    {{ form.city }}
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="district">Bairro</label>
                <div class="col-md-4">
                    {{ form.district }}
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="complement">Complemento</label>
                <div class="col-md-4">
                    {{ form.complement }}
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <button id="btn_salvar" name="submit" class="btn btn-success btn-block" type="submit">
                                Salvar
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <a href="{% url 'detail' %}" id="btn_cancelar" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#info').addClass('active');
        });
    </script>

{% endblock %}