{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <form method="post" class="form-horizontal" data-parsley-validate="">
        {% csrf_token %}

        <fieldset>

            <!-- Form Name -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center;">
                        Cadastro
                    </h3>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="nome">Nome</label>
                <div class="col-md-4">
                    {{ form.first_name }}

                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="nome">Sobrenome</label>
                <div class="col-md-4">
                    {{ form.last_name }}

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="cpf">CPF</label>
                <div class="col-md-4">
                    {{ form.cpf }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-4">
                    {{ form.email }}

                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="telefone1">Telefone</label>
                <div class="col-md-4" data-parsley-required="False">
                    {{ form.phone }}

                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="login">Login</label>
                <div class="col-md-4">
                    {{ form.username }}
                </div>
            </div>


            <div class="form-group">
                <div style="color:red; text-align: center">
                        {{ form.password.errors }}
                        {{ form.password2.errors }}
                </div>
                <label class="col-md-4 control-label" for="senha">Senha</label>
                <div class="col-md-4">
                    {{ form.password }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="senha">Confirmar Senha</label>
                <div class="col-md-4">
                    {{ form.password2 }}
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <button id="btn_salvar" name="submit" class="btn btn-success btn-block" type="submit">
                                Cadastrar-se
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <a href="/" id="btn_cancelar" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#client_register').addClass('active');
        });
    </script>

{% endblock %}