{% extends 'base.html' %}

{% block content %}

    <section class="bar background-red color-white no-mb padding-big text-center-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center" style="text-align: center">
                    <i class="fa fa-lock" style="color: white; font-size: 15em"></i>
                </div>
                <div class="col-md-6">
                    <h2 class="text-uppercase" style="color: white;">403 Forbidden</h2>

                    <p class="mb-small">
                        <strong>Acesso negado!</strong> Você não tem permissão para acessar
                        esta parte do site.
                    </p>
                    <p class="mb-small">
                        You shall not pass! <i class="fas fa-hat-wizard" style="color: white"></i>
                    </p>
                </div>
            </div>
        </div>
    </section>

{%  endblock %}