{% extends 'base.html' %}

{% block content %}

    <section class="bar background-red color-white no-mb padding-big text-center-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center" style="text-align: center">
                        <i class="fas fa-dice-four" style="color: white; font-size: 10em"></i>
                        <i class="fas fa-dice-d6" style="color: white; font-size: 10em"></i>
                        <i class="fas fa-dice-four" style="color: white; font-size: 10em"></i>
                </div>
                <div class="col-md-6">
                    <h2 class="text-uppercase" style="color: white;">404 Not Found</h2>

                    <p class="mb-small">
                        <strong>Pagina não encontrada!</strong> Você tentou acessar {{ request.path }}
                        mas a página não foi encontrada.
                    </p>
                    <p class="mb-small">
                        Conseguirá ver melhor com os olhos fechados! <i class="far fa-eye" style="color: white"></i>
                    </p>
                </div>
            </div>
        </div>
    </section>

{%  endblock %}