{% extends 'base.html' %}

{% block content %}

    <section class="bar background-red color-white no-mb padding-big text-center-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center" style="text-align: center">
                    <i class="far fa-dizzy" style="color: white; font-size: 15em"></i>
                </div>
                <div class="col-md-6">
                    <h2 class="text-uppercase" style="color: white;">403 Internal Server Error</h2>

                    <p class="mb-small">
                        <strong>Acesso negado!</strong> Ocorreu um erro no servidor. Tente novamente.
                    </p>
                    <p class="mb-small">
                        Double, double, toil and trouble
                        Fire burn and cauldron bubble
                        Something wicked this way comes <i class="fas fa-frog" style="color: white"></i>
                    </p>
                </div>
            </div>
        </div>
    </section>

{%  endblock %}