{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <section class="bar background-white no-mb padding-big text-center-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-uppercase" style="color: #000;">Como Comprar?</h2>

                    <p class="mb-small">
                        O cliente por pedir sua cesta básica pelo site ou através do
                        <strong style="color: #4dc247"><i class="fab fa-whatsapp"></i> Whatsapp</strong> ou
                        <strong><a href="{% url 'facebook' %}" style="color: #3b5998;" class="external">
                            <i class="fab fa-facebook-square"></i> Facebook</a></strong>
                        do CompraAgendada.

                        É possível também comprar produtos indivudualmente no site do CompraAgendada para melhor atender
                        suas necessidades.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="bar background-red color-white no-mb padding-big text-center-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-4 text-right">
                    <h2 class="text-uppercase">Sobre a Entrega</h2>
                    <p class="mb-small"> A entrega das cestas básicas é realizada semanalmente em datas e locais
                        agendados previamente.
                    </p>
                    <p class="mb-small">
                        Clientes que optam por comprar produtos individuais podem escolher entrega imediata* dos seus
                        produtos.
                    </p>
                    <p style="font-size: x-small">* A entrega imediata é realizada em horário comercial e está sujeita
                        à cobranças adicionais.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bar background-white no-mb padding-big text-center-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-uppercase" style="color: #000;">Pagamento</h2>

                    <p class="mb-small"> O pagamento será realizado no momento da entrega, apenas em papel moeda.

                        Pretendemos adicionar mais formais de pagamento em breve.
                        <strong style="color: white">Soon™</strong>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#about').addClass('active');
        });
    </script>

{% endblock %}