{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
    {% include 'head.html' %}
    <script src="{% static 'js/jquery.1.11.0.min.js' %}"></script>
    <script src="{% static 'js/parsley.min.js' %}"></script>
    <link href="{% static 'css/parsley.css' %}" rel="stylesheet">
    <link href="{% static 'css/sweetalert.min.css' %}" rel="stylesheet">
{% endblock %}
<body>

<!-- /#all -->
<div id="all">
    {% include 'header.html' %}
    {% block content %}


    {% endblock %}
    {% include 'footer.html' %}

</div>

<!-- #### JAVASCRIPT FILES ### -->
<script src="{% static 'plugins/jQuery/jQuery-2.2.0.min.js' %}"></script>
<script>
    window.jQuery || document.write('<script src="{% static 'js/jquery.1.11.0.min.js' %}"><\/script>')
</script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/jquery.parallax-1.1.3.js' %}"></script>
<script src="{% static 'js/jquery.inputmask.bundle.js' %}"></script>
<script src="{% static 'js/front.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/sweetalert.min.js' %}"></script>

<script src="{% static 'js/cpf-cnpj-validate.js' %}"></script>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <script>
                $(document).ready(function () {
                    swal("Erro", "{{ message|safe }}", "error")
                });
            </script>
        {% else %}
            <script>
                $(document).ready(function () {
                    swal("Sucesso", "{{ message|safe }}", "success")
                });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

<script>
    $(document).ready(function () {
        var menu = location.pathname;
        if (menu === '/') {
            $('#home').addClass('active');
        } else {
            $('#contact').addClass('active');
        }
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            clearBtn: true,
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            autoclose: true
        });
        $('[name=cep]').focusout(function () {
            $('#loading').show();
            var cep = $('[name=cep]');
            var cepCode = cep.val();
            if (cepCode.length <= 0) return;
            $.ajax({
                type: 'GET',
                url: 'http://apps.widenet.com.br/busca-cep/api/cep.json',
                data: {code: cepCode},
                success: function (result) {
                    $('#loading').hide();
                    if (result.status == 0) {
                        alert(result.message || "Houve um erro desconhecido");
                        return;
                    } else {
                        $('[name=cep]').val(result.code);
                        $('[name=city]').val(result.city);
                        var index = result.address.search('-');
                        if (index != -1) {
                            address = result.address.substring(0, index);
                        } else {
                            address = result.address;
                        }
                        $('[name=address]').val(address);
                        $('[name=district]').val(result.district);
                        $('[name=state]').val(result.state);
                    }
                }
            });
        });
        $('[name=phone]').inputmask('(99) 9999[9]-9999');
        $('[name=cep]').inputmask('99.999-999');
        $('[name=cpf]').inputmask('999.999.999-99');
        $('[name=cpf]').focusout(function () {
            var cpf = $(this).val();
            if (!valida_cpf(cpf)) {
                $('#loading').hide();
                swal("CPF Inválido", "Insira um CPF válido", "error");
            }
        });
        $('[name=submit]').click(function () {
            $('#loading').show();
            var cnpj = $('[name=cnpj]').val() || "";
            if (!valida_cnpj(cnpj) && cnpj != "") {
                $('#loading').hide();
                swal("CNPJ Inválido", "Insira um CNPJ válido", "error");
            }
        });
        $('[name=date_of_birth]').change(function () {
            var idade = 0;
            var now = moment();
            var dtNascimento = moment($(this).val(), "DD/MM/YYYY");
            idade = now.diff(dtNascimento, 'years');
            $('[name=age]').val(idade);
        });
    });
</script>

<!-- jQuery UI 1.11.4 -->
<script src="{% static 'plugins/jQueryUI/jquery-ui.min.js' %}"></script>
<script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>

</body>

</html>