{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="treasure panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title" align="center">{{ basket.name }}</h3>
        </div>

        <div class="panel-body">
            <center>
                <div class="form-group">
                    <label for="exampleInputPassword1"> </label>
                    <img src="{{ basket.photo }}" class="img-responsive" height="160" width="160"/>
                </div>
                {% if basket.stock_state == "Ultimas Unidades" %}
                        <label class="label label-warning" style="font-size: small" >
                    {% elif basket.stock_state == "Esgotado" %}
                        <label class="label label-danger" style="font-size: small">
                    {% else %}
                        <label class="label label-success" style="font-size: small">
                    {% endif %}
                        {{ basket.stock_state }}
                    </label>
                    <br>
                <br>
            </center>
            <table class="treasure-table" align="center">
                <tr>
                    <th>
                        Preço:
                    </th>
                    <td>R$ {{ basket.price }}</td>
                </tr>

            </table>
            <div>


            </div>

        </div>
        <div class="treasure panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title" align="center">Produtos Incluidos </h3>
            </div>
            <div class="panel-body">
                {% for basketcontent in basket.basketcontent_set.all %}
                    <tr>
                        <div class="col-md-4">
                            <div class="treasure panel panel-default">
                                <!-- Adding treasure title by username -->
                                <div class="panel-heading">
                                    <h3 class="panel-title" align="center">{{ basketcontent.product.name }}</h3>
                                </div>
                                <!-- Adding treasure image -->
                                <div class="panel-body" align="center">
                                    <a href="/product/{{ basketcontent.product.id }}">
                                        <div class="treasure-photo">
                                            <img src="{{ basketcontent.product.photo }}" height="160" width="160">
                                        </div>
                                    </a>
                                    <!-- Adding Like Button -->

                                </div>
                                <div align="center">
                                    R$ {{ basketcontent.product.price }}
                                </div>
                                <div align="center">
                                    Quantidade: {{ basketcontent.qnt }}
                                </div>
                            </div>
                        </div>
                    </tr>
                {% endfor %}

            </div>
        </div>
        <div class="row">
            <div class="center-block" style="width:300px">
                <a href="{% url "add_basket" basket.pk %}" id="btn_cancelar"
                   class="btn btn-default center-block btn-block" type="submit">
                    <i class="fa fa-cart-plus"></i> Adicionar ao carrinho
                </a>
            </div>
            <br>
            <div class="center-block" style="width:300px">
                <a href="{% url "showcase_baskets" %}" id="btn_cancelar"
                   class="btn btn-danger center-block btn-block" type="submit">
                    <i class="fas fa-chevron-left"></i> Voltar
                </a>
            </div>
        </div>
    </div>

{% endblock %}
