{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <form method="post" class="form-horizontal" enctype="multipart/form-data" data-parsley-validate="">
        {% csrf_token %}
        <fieldset>

            <div class="treasure panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title" align="center"><i class="fa fa-shopping-cart"></i> Seu Carrinho</h3>
                </div>

                <div class="panel-body">
                    <table class="treasure-table" align="center">
                        <tr style="font-size: xx-large">
                            <th>
                                Total:
                            </th>
                            <td style="color: #00a65a">R$ {{ cart.total }}</td>
                        </tr>
                    </table>
                    {% for content in cart.cartproduct_set.all %}
                        <tr>
                            <div class="col-md-4">
                                <div class="treasure panel panel-default">
                                    <!-- Adding treasure title by username -->
                                    <div class="panel-heading">
                                        <h3 class="panel-title" align="center">{{ content.product.name }}</h3>
                                    </div>
                                    <!-- Adding treasure image -->
                                    <div class="panel-body" align="center">
                                        <a href="{% url 'product_client' content.product.pk %}">
                                            <div class="treasure-photo">
                                                <img src="{{ content.product.photo }}" height="160" width="160">
                                            </div>
                                        </a>
                                        <!-- Adding Like Button -->

                                    </div>
                                    <div align="center">
                                        R$ {{ content.product.price }}
                                    </div>
                                    <div align="center">
                                        Quantidade: {{ content.qnt }}
                                    </div>
                                </div>
                            </div>
                        </tr>
                    {% endfor %}

                    {% for content in cart.cartbasket_set.all %}
                        <tr>
                            <div class="col-md-4">
                                <div class="treasure panel panel-default">
                                    <!-- Adding treasure title by username -->
                                    <div class="panel-heading">
                                        <h3 class="panel-title" align="center">{{ content.basket.name }}</h3>
                                    </div>
                                    <!-- Adding treasure image -->
                                    <div class="panel-body" align="center">
                                        <a href="{% url 'basket_client' content.basket.pk %}">
                                            <div class="treasure-photo">
                                                <img src="{{ content.basket.photo }}" height="160" width="160">
                                            </div>
                                        </a>
                                        <!-- Adding Like Button -->

                                    </div>
                                    <div align="center">
                                        R$ {{ content.basket.price }}
                                    </div>
                                    <div align="center">
                                        Quantidade: {{ content.qnt }}
                                    </div>
                                </div>
                            </div>
                        </tr>
                    {% endfor %}
                </div>
                <div class="row">
                    {% if cart.cartproduct_set.all or cart.cartbasket_set.all %}
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="cep">Frete</label>
                            <div class="col-md-4">
                                {{ form.cep }}
                            </div>
                        </div>
                        <div class="center-block" style="width:300px">
                            <button id="btn_salvar" name="submit" class="btn btn-success btn-block" type="submit">
                                Calcular Frete
                            </button>
                        </div>
                        <p style="text-align: center">* Calcule o frete antes de realizar a compra.</p>
                        <div class="center-block" style="width:300px">
                            <a href="{% url 'buying' %}" id="btn-buy"
                               class="btn btn-success center-block btn-block" type="submit">
                                <i class="fas fa-check"></i> Confirmar
                            </a>
                        </div>
                        <br>
                    {% endif %}



                    <div class="center-block" style="width:300px">
                        <a href="{% url 'my_cart' %}" id="btn_cancelar"
                           class="btn btn-danger center-block btn-block" type="submit">
                            <i class="fas fa-times"></i> Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#cart').addClass('active');
        });
    </script>

{% endblock %}
