{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <section class="content">
    <div class="row">
        <div class="box">
            <!-- /.box-body -->
            <div class="box-body">
                <div class="col-md-6">

                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            {% if user_l.first_name == 'Jão' and user_l.last_name == "Marcu" %}
                                <p style="text-align: center"><i class=" fa fa-meh fa-3x"></i></p>
                            {% endif %}
                            <h3 class="profile-username text-center" style="color: black">
                                {{ user_l.first_name }} {{ user_l.last_name }}
                            </h3>

                            <p class="text-muted text-center" style="color: black">Cliente</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border" style="background-color: white">
                            <h3 class="box-title" style="color: black">Informações</h3>
                        </div>
                        <div class="box-body" style="color: black; margin-left: 10px">
                            <strong><i class="fas fa-id-card margin-r-5"></i> CPF</strong>

                            <p class="text-muted" style="color: black">
                                {{ user_l.serviceclient.cpf }}
                            </p>

                            <hr>

                            <strong><i class="fa fa-phone margin-r-5"></i> Telefone</strong>

                            <p class="text-muted" style="color: black">
                                {{ user_l.serviceclient.phone }}
                            </p>

                            <hr>

                            <strong><i class="fa fa-map-marker-alt margin-r-5"></i> Endereço</strong>

                            <p class="text-muted" style="color: black">
                                {{ user_l.serviceclient.address }}
                                {% if user_l.serviceclient.number %}
                                    Nº {{ user_l.serviceclient.number }}
                                {% endif %}
                                {% if user_l.serviceclient.district %}
                                    - {{ user_l.serviceclient.district }}
                                {% endif %}
                            </p>
                            {% if user_l.serviceclient.complement %}
                                <p class="text-muted" style="color: black">
                                    ({{ user_l.serviceclient.complement }})
                                </p>
                            {% endif %}
                            <p class="text-muted" style="color: black">
                                {{ user_l.serviceclient.city }}
                                {% if user_l.serviceclient.state %}
                                    - {{ user_l.serviceclient.state }}
                                {% endif %}
                            </p>
                            {% if user_l.serviceclient.cep %}
                                <p class="text-muted" style="color: black">
                                    CEP: {{ user_l.serviceclient.cep }}
                                </p>
                            {% endif %}

                            <hr>

                            <strong><i class="fa fa-envelope margin-r-5"></i> Email</strong>

                            <p>
                                {{ user_l.email }}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class=" box-footer form-group" style="margin-top: 35px;">

                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="{% url 'purchases_historic' %}" id="btn_hist" class="btn btn-success btn-block">
                                <i class="far fa-clock"></i> Histórico de Compras
                            </a>
                        </div>

                        <div class="col-md-3">
                            <a href="{% url 'edit_client' %}" id="btn_edit" class="btn btn-default btn-block pull-left">
                                <i class="fa fa-pencil-alt"></i> Editar Conta
                            </a>
                        </div>

                        <div class="col-md-3">
                            <a href="{% url 'change_password_client' %}" id="btn_pass" class="btn btn-default btn-block pull-left">
                                <i class="fa fa-key"></i> Mudar Senha
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="{% url 'delete_client' %}" id="btn_del" class="btn btn-danger btn-block pull-left">
                                <i class="fas fa-user-slash"></i> Deletar Conta
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript">
    $(document).ready(function () {
        $('#info').addClass('active');
    });
    </script>
    </section>
{% endblock %}