{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


    <div class="treasure panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title" align="center"><i class="fa fa-shopping-cart"></i> Seu Carrinho</h3>
        </div>

        <div class="panel-body">
            {% if cart.cartproduct_set.all or cart.cartbasket_set.all %}
                <table class="treasure-table" align="center">
                    <tr>
                        <th>
                            Total:
                        </th>
                        <td>R$ {{ cart.total }}</td>
                    </tr>
                </table>
                <form method="post" class="form-horizontal" enctype="multipart/form-data" data-parsley-validate="">
                {% csrf_token %}
                    <fieldset>
                    {{ products_formset.management_form }}
                    {% for form_prod in products_formset %}
                        {{ form_prod.id }}
                        <tr>
                            <div class="col-md-4">
                                <div class="treasure panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title" align="center">{{ form_prod.instance.product.name }}</h3>
                                    </div>
                                    <div class="panel-body" align="center">
                                        <a href="{% url 'product_client' form_prod.instance.product.pk %}">
                                            <div class="treasure-photo">
                                                <img src="{{ form_prod.instance.product.photo }}" height="160" width="160">
                                            </div>
                                        </a>
                                    </div>
                                    <div align="center">
                                        R$ {{ form_prod.instance.product.price }}
                                    </div>
                                    <div align="center">
                                        <p style="color: red">{{ form_prod.qnt.errors }}</p>
                                        Quantidade: {{ form_prod.qnt }}
                                    </div>
                                    <div align="center">
                                        {{ form_prod.DELETE }} <i class="fas fa-cart-arrow-down" style="color: red"></i>
                                        Remover Produto
                                    </div>
                                </div>
                            </div>
                        </tr>
                    {% endfor %}

                    {{ baskets_formset.management_form }}
                    {% for form_basket in baskets_formset %}
                        {{ form_basket.id }}
                        <tr>
                            <div class="col-md-4">
                                <div class="treasure panel panel-default">
                                    <!-- Adding treasure title by username -->
                                    <div class="panel-heading">
                                        <h3 class="panel-title" align="center">{{ form_basket.instance.basket.name }}</h3>
                                    </div>
                                    <!-- Adding treasure image -->
                                    <div class="panel-body" align="center">
                                        <a href="{% url 'basket_client' form_basket.instance.basket.pk %}">
                                            <div class="treasure-photo">
                                                <img src="{{ form_basket.instance.basket.photo }}" height="160" width="160">
                                            </div>
                                        </a>
                                        <!-- Adding Like Button -->

                                    </div>
                                    <div align="center">
                                        R$ {{ form_basket.instance.basket.price }}
                                    </div>
                                    <div align="center">
                                        <p style="color: red">{{ form_basket.qnt.errors }}</p>
                                        Quantidade: {{ form_basket.qnt }}
                                    </div>
                                    <div align="center">
                                        {{ form_basket.DELETE }} <i class="fas fa-cart-arrow-down" style="color: red"></i>
                                        Remover Produto
                                    </div>
                                </div>
                            </div>
                        </tr>
                        {% endfor %}
                        <br>
                        <div class="row">
                            <div class="center-block" style="width:300px">
                                <button id="btn_salvar" name="submit" class="btn btn-default btn-block" type="submit">
                                    <i class="fas fa-save"></i> Salvar Alterações
                                </button>
                            </div>
                        </div>
                        </fieldset>
                    </form>
            {% else %}
                <h2 style="text-align: center; color: #9f191f"><strong>Seu carrinho está vazio! <i class="far fa-frown-open"></i></strong></h2>
                <p style="text-align: center">Adicione <a href="{% url 'showcase_products' %}">produtos</a> e/ou
                    <a href="{% url 'showcase_baskets' %}">cestas!</a></p>
            {% endif %}
        </div>
        <div class="row">
            {% if cart.cartproduct_set.all or cart.cartbasket_set.all %}
                <div class="center-block" style="width:300px">
                    <a href="{% url 'confirm_purchase' %}" id="btn-buy"
                       class="btn btn-success center-block btn-block" type="submit">
                        <i class="fas fa-money-bill-wave"></i> Comprar
                    </a>
                </div>
                <p style="text-align: center">* Salve as alterações antes de realizar a compra.</p>
                <br>
            {% endif %}
            <div class="center-block" style="width:300px">
                <a href="/" id="btn_cancelar"
                   class="btn btn-danger center-block btn-block" type="submit">
                    <i class="fas fa-chevron-left"></i> Voltar
                </a>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#cart').addClass('active');
        });
    </script>

{% endblock %}