{% load staticfiles %}

<footer id="footer">
    <div class="container">
        <div class="col-md-4 col-md-offset-2 col-sm-6 ">
            <h4>Quem somos</h4>

            <p>Desc. TBD</p>

            <!--<hr class="hidden-md hidden-lg hidden-sm">-->

        </div>
        <!-- /.col-md-3 -->
        <div class="col-md-4 col-md-offset-1 col-sm-6">

            <h4>Contato</h4>

            <p><strong>CompraAgendada Group.</strong>
                <br>TBD
            </p>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-3 -->
    </div>
    <!-- /.container -->
</footer>
<!-- /#footer -->


<!-- /#copyright -->
<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            <p class="pull-left">&copy; 2018. Compra Agendada </p>

            <p class="pull-right">Template by <a href="#">P1 Group 3</a>
            </p>

        </div>
    </div>
</div>