{% load staticfiles %}
<header>
    <div id="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-5 contact">

                    <p class="hidden-md hidden-lg">
                        <a href="#" data-animate-hover="pulse">
                            <i class="fa fa-phone"></i>
                        </a>
                        <a href="#" data-animate-hover="pulse">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </p>
                </div>
                <div class="col-xs-7">
                    <div class="social">
                        <a href="{% url 'facebook' %}" class="external facebook" data-animate-hover="pulse">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="{% url 'twitter' %}" class="external twitter" data-animate-hover="pulse">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>

                    {% if request.user.is_authenticated %}
                        <div class="login" style="width: 75%">
                            <div class="row">
                                <div class="col-xs-6">
                                    <p class="" style="font-size: 14px;">Olá, {{ request.user.first_name }}</p>
                                </div>
                                <div class="col-xs-3">
                                    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>
                                        <span class="hidden-xs text-uppercase">Logout</span></a>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <div class="login">
                            <a href="{% url 'login' %}">
                                <i class="fas fa-sign-in-alt"></i>
                                <span class="hidden-xs text-uppercase">Log in</span>
                            </a>

                    {% endif %}
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- *** TOP END *** -->

        <!-- *** NAVBAR ***
    _________________________________________________________ -->

        <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

            <div class="navbar navbar-default yamm" role="navigation" id="navbar">

                <div class="container">
                    <div class="navbar-header">

                        <a class="navbar-brand home" href="/">
                            <h1 style="margin-top: 2px;">CompraAgendada</h1>
                        </a>

                        <!--/.navbar-header -->
                        <div class="navbar-buttons">
                            <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse"
                                    data-target="#navigation">
                                <span class="sr-only">Toggle navigation</span>
                                <i class="fa fa-align-justify"></i>
                            </button>
                        </div>
                    </div>

                    <div class="navbar-collapse collapse" id="navigation">

                        <ul class="nav navbar-nav navbar-right">
                            <li id="home_base" class="">
                                <a id="home_link" href="/"><i class="fas fa-home"></i> Home</a>
                            </li>
                            {% if request.user.serviceadm %}
                                <li id="painel" class="">
                                    <a id="painel_link" href="{% url 'painel' %}">
                                        <i class="fas fa-chalkboard"></i> Painel</a>
                                </li>
                            {% else %}
                                {% if request.user.is_authenticated %}
                                    <li id="info" class="">
                                        <a id="info_link" href="{% url 'detail' %}">
                                            <i class="fas fa-user"></i> Sua Conta</a>
                                    </li>

                                    <li id="cart" class="">
                                        <a id="cart_link" href="{% url 'my_cart' %}"><i class="fas fa-shopping-cart"></i> Carrinho</a>
                                    </li>
                                {% else %}
                                    <li id="client_register" class="">
                                        <a id="client_register_link" href="{% url 'register_client' %}">
                                            <i class="fas fa-user-plus"></i> Cadastre-se</a>
                                    </li>
                                {% endif %}

                                <li id="about" class="">
                                    <a id="about_link" href="{% url 'about' %}"><i class="fas fa-info-circle"></i> Saiba Mais</a>
                                </li>

                                <li id="contact_us" class="">
                                    <a id="contact_link" href="/#contato"><i class="far fa-comments"></i> Contato</a>
                                </li>
                            {% endif %}
                        </ul>

                    </div>
                    <!--/.nav-collapse -->

                </div>

            </div>
            <!-- /#navbar -->
        </div>
        <!-- *** NAVBAR END *** -->
    </div>
</header>