{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <section class="bar background-white no-mb padding-big text-center-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <center><img src="{% static 'logo1.png' %}" alt="" class="img-responsive" width="300"></center>
                </div>
                <div class="col-md-6">
                    <h2 class="text-uppercase" style="color: #000;">Quem Somos?</h2>

                    <p class="mb-small">O <strong>CompraAgendada</strong> é um serviço que oferece cestas básicas a
                        baixo custo. Adicionalmente, os clientes podem comprar produtos alimentícios específicos com
                        entrega rápida.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="bar background-white no-mb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h3 style="color: #000">Produtos Disponiveis</h3>
                    </div>

                    {% for product in products %}
                        <!-- Creating a column for each treasure panel -->
                        {% if forloop.counter <= 10 %}
                            <div class="col-md-4">
                                <div class="treasure panel panel-default">
                                    <!-- Adding treasure title by username -->
                                    <div class="panel-heading">
                                        <h3 class="panel-title" align="center">{{ product.name }}</h3>
                                    </div>
                                    <!-- Adding treasure image -->
                                    <div class="panel-body" align="center">
                                        <a href="/product/{{ product.id }}">
                                            <div class="treasure-photo">
                                                <img src="{{ product.photo }}" height="160" width="160">
                                            </div>
                                        </a>
                                        <!-- Adding Like Button -->

                                    </div>
                                    <div align="center">R$ {{ product.price}}</div>

                                </div>
                            </div>
                        {% endif %}
                            <!-- if last column in row -->
                            {% if forloop.counter|divisibleby:5 and not 10 %}
                                </div><br>
                                <div class="row">
                            {% endif %}
                    {% endfor %}
                </div>
                <br>
                <div class="col-sm-12">
                    <a href="{% url "showcase_products" %} " class="btn btn-danger btn-block">Ver Mais</a>
                </div>
            </div>
        </div>
    </section>

    <section class="bar background-white no-mb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h3 style="color: #000">Cestas Disponiveis</h3>
                    </div>

                    {% for basket in baskets %}
                        <!-- Creating a column for each treasure panel -->
                        {% if forloop.counter <= 10 %}
                            <div class="col-md-4">
                                <div class="treasure panel panel-default">
                                    <!-- Adding treasure title by username -->
                                    <div class="panel-heading">
                                        <h3 class="panel-title" align="center">{{ basket.name }}</h3>
                                    </div>
                                    <!-- Adding treasure image -->
                                    <div class="panel-body" align="center">
                                        <a href="/basket/{{ basket.id}}">
                                            <div class="treasure-photo">
                                                <img src="{{ basket.photo }}" height="160" width="160">
                                            </div>
                                        </a>
                                        <!-- Adding Like Button -->

                                    </div>
                                    <div align="center">R$ {{ basket.price}}</div>

                                </div>
                            </div>
                        {% endif %}
                            <!-- if last column in row -->
                            {% if forloop.counter|divisibleby:5 and not 10 %}
                                </div><br>
                                <div class="row">
                            {% endif %}
                    {% endfor %}
                </div>
                <br>
                <div class="col-sm-12">
                    <a href="{% url "showcase_baskets" %} " class="btn btn-danger btn-block">Ver Mais</a>
                </div>
            </div>
        </div>
    </section>

        <section class="bar background-red color-white no-mb padding-big text-center-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-uppercase">Como funciona?</h2>
                        <p class="mb-small">O cliente escolhe sua cesta, seja ela do CompraAgendada ou uma
                            customizada,
                            escolhe o tipo de entrega e aguarda a chegada.
                        </p>
                        <p><a href="{% url 'about' %}" class="btn btn-template-transparent-primary">Saiba
                            Mais</a>
                    </div>
                </div>
            </div>
        </section>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#home_base').addClass('active');
            });
        </script>

{% endblock %}