{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="treasure panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title" align="center">Compra {{ purchase.id }}</h3>
        </div>

        <div class="panel-body">
            <table class="treasure-table" align="center">
                <tr>
                    <th>
                        Data:
                    </th>
                    <td style="text-align: center">{{ purchase.created_at }}</td>
                </tr>
                <tr>
                    <th>
                        Total:
                    </th>
                    <td style="text-align: center">R$ {{ purchase.total }}</td>
                </tr>
                <tr>
                    <th>
                        Valor do Frete:
                    </th>
                    <td style="text-align: center">R$ {{ purchase.frete_value }}</td>
                </tr>
                <tr>
                    <th>
                        Situação:
                    </th>
                    <td style="text-align: center">
                        {% if purchase.status == "IN_PROGRESS" %}
                            <label class="label label-warning">
                        {% elif purchase.status == "AWAITING_PAYMENT" %}
                            <label class="label label-info">
                        {% elif purchase.status == "CANCELED" %}
                            <label class="label label-danger">
                        {% else %}
                            <label class="label label-success">
                        {% endif %}
                        {{ purchase.get_status_display }}
                        </label>
                    </td>
                </tr>

            </table>
        </div>
        <div class="treasure panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title" align="center">Produtos Comprados </h3>
            </div>
            <div class="panel-body">

                {% for content in purchase.purchaseproduct_set.all %}
                    <tr>
                        <div class="col-md-4">
                            <div class="treasure panel panel-default">
                                <!-- Adding treasure title by username -->
                                <div class="panel-heading">
                                    <h3 class="panel-title" align="center">{{ content.product.name }}</h3>
                                </div>
                                <!-- Adding treasure image -->
                                <div class="panel-body" align="center">
                                    <a href="{% url 'product_client' content.product.pk %}">
                                        <div class="treasure-photo">
                                            <img src="{{ content.product.photo }}" height="160" width="160">
                                        </div>
                                    </a>
                                    <!-- Adding Like Button -->

                                </div>
                                <div align="center">
                                    R$ {{ content.price }}
                                </div>
                                <div align="center">
                                    Quantidade: {{ content.qnt }}
                                </div>
                            </div>
                        </div>
                    </tr>
                {% endfor %}

                {% for content in purchase.purchasebasket_set.all %}
                    <tr>
                        <div class="col-md-4">
                            <div class="treasure panel panel-default">
                                <!-- Adding treasure title by username -->
                                <div class="panel-heading">
                                    <h3 class="panel-title" align="center">{{ content.basket.name }}</h3>
                                </div>
                                <!-- Adding treasure image -->
                                <div class="panel-body" align="center">
                                    <a href="{% url 'basket_client' content.basket.pk %}">
                                        <div class="treasure-photo">
                                            <img src="{{ content.basket.photo }}" height="160" width="160">
                                        </div>
                                    </a>
                                    <!-- Adding Like Button -->

                                </div>
                                <div align="center">
                                    R$ {{ content.price }}
                                </div>
                                <div align="center">
                                    Quantidade: {{ content.qnt }}
                                </div>
                            </div>
                        </div>
                    </tr>
                {% endfor %}

            </div>
        </div>
        <div class="row">
            <div class="center-block" style="width:300px">
                <a href="{% url "purchases_historic" %}" id="btn_cancelar"
                   class="btn btn-danger center-block btn-block" type="submit">
                    <i class="fas fa-chevron-left"></i> Voltar
                </a>
            </div>
        </div>
    </div>

{% endblock %}
