{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="treasure panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title" align="center"><i class="fa fa-clock"></i> Histórico de Compra</h3>
        </div>

        <div class="panel-body">
            {% if purchases.all %}
                <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="90%">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>DATA</th>
                                    <th>VALOR TOTAL</th>
                                    <th>SITUAÇÃO</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for purchase in purchases %}
                                    <tr>
                                        <td><a href="{% url 'purchase' purchase.pk %}">{{ purchase.id }}</a></td>
                                        <td>{{ purchase.created_at }}</td>
                                        <td>R$ {{ purchase.total }}</td>
                                        <td>{% if purchase.status == "IN_PROGRESS" %}
                                                <label class="label label-warning">
                                            {% elif purchase.status == "AWAITING_PAYMENT" %}
                                                <label class="label label-info">
                                            {% elif purchase.status == "CANCELED" %}
                                                <label class="label label-danger">
                                            {% else %}
                                                <label class="label label-success">
                                            {% endif %}
                                                    {{ purchase.get_status_display }}
                                                </label>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                <h2 style="text-align: center; color: #9f191f"><strong>
                    Você ainda não realizou nenhuma compra!</strong></h2>
                <p style="text-align: center">Adicione <a href="{% url 'showcase_products' %}">produtos</a> e/ou
                    <a href="{% url 'showcase_baskets' %}">cestas</a> ao seu <a href="{% url 'my_cart' %}">carrinho</a>
                        para comprar!</p>
            {% endif %}
        </div>
        <div class="row">
            <div class="center-block" style="width:300px">
                <a href="{% url 'detail' %}" id="btn_cancelar"
                   class="btn btn-danger center-block btn-block" type="submit">
                    <i class="fas fa-chevron-left"></i> Voltar
                </a>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#info').addClass('active');
        });
    </script>

{% endblock %}