{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


    <div class="treasure panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title" align="center">{{ product.name }}</h3>
        </div>

        <div class="panel-body">
            <table class="treasure-table" align="center">
                <center>
                    <div class="form-group">
                        <label for="exampleInputPassword1"> </label>
                        <img src="{{ product.photo }}" class="img-responsive" height="160" width="160"/>
                    </div>
                    {% if product.stock_state == "Ultimas Unidades" %}
                        <label class="label label-warning" style="font-size: small" >
                    {% elif product.stock_state == "Esgotado" %}
                        <label class="label label-danger" style="font-size: small">
                    {% else %}
                        <label class="label label-success" style="font-size: small">
                    {% endif %}
                        {{ product.stock_state }}
                    </label>
                    <br>
                <br>
                </center>
                <tr>
                    <th>
                        Marca:
                    </th>
                    <td>{{ product.brand }}</td>
                </tr>
                <tr>
                    <th>
                        Distribuidor:
                    </th>
                    <td>{{ product.distributor }}</td>
                </tr>
                <tr>
                    <th>
                        Preço:
                    </th>
                    <td>R$ {{ product.price }}</td>
                </tr>
            </table>

        </div>
        <div class="row">
            <div class="center-block" style="width:300px">
                <a href="{% url "add_product" product.pk %}" id="btn_cancelar"
                   class="btn btn-default center-block btn-block" type="submit">
                    <i class="fa fa-cart-plus"></i> Adicionar ao carrinho
                </a>
            </div>
            <br>
            <div class="center-block" style="width:300px">
                <a href="{% url "showcase_products" %}" id="btn_cancelar"
                   class="btn btn-danger center-block btn-block" type="submit">
                    <i class="fas fa-chevron-left"></i> Voltar
                </a>
            </div>
        </div>
    </div>





{% endblock %}
