{% extends 'login-files/PainelBase.html' %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- /.box-header -->
                <div class="box-header">
                </div>
                <!-- /.box-body -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-md-4 pull-right" style="width:170px">
                                <a href="{% url 'removed_products' %}" id="btn_removed"
                                   class="btn-xs btn-danger btn-block pull-right text-center">
                                    <i class="fas fa-eraser"></i> Produtos Removidos
                                </a>
                            </div>
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>NOME</th>
                                        <th>CUSTO</th>
                                        <th>PREÇO</th>
                                        <th>LUCRO</th>
                                        <th>TIPO</th>
                                        <th>MARCA</th>
                                        <th>ESTOQUE</th>
                                        <th>VENDIDOS</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td><a href="{% url 'product' product.pk %}">{{ product.name }}</a></td>
                                            <td>R$ {{ product.cost }}</td>
                                            <td>R$ {{ product.price }}</td>
                                            <td>{{ product.profit }}</td>
                                            <td>{{ product.type }}</td>
                                            <td>{{ product.brand }}</td>
                                            <td>{{ product.stock }}</td>
                                            <td>{{ product.sold }}</td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                {% if user.is_superuser %}
                    <div class="box-footer">
                        <a href="{% url 'painel' %}" class="btn btn-default pull-left">Voltar</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#list_product').addClass('active');
        });
    </script>

{% endblock %}