{% extends 'login-files/PainelBase.html' %}
{% load staticfiles %}

{% block content %}


    <div class="treasure panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title" align="center">{{ product.name }}</h3>
        </div>

        <div class="panel-body">
            <table class="treasure-table" align="center">
                <tr>
                    <th>
                        Tipo:
                    </th>
                    <td>{{ product.type }}</td>
                </tr>
                <tr>
                    <th>
                        Marca:
                    </th>
                    <td>{{ product.brand }}</td>
                </tr>
                <tr>
                    <th>
                        Distribuidor:
                    </th>
                    <td>{{ product.distributor }}</td>
                </tr>
                <tr>
                    <th>
                        Custo:
                    </th>
                    <td>R$ {{ product.cost }}</td>
                </tr>
                <tr>
                    <th>
                        Preço:
                    </th>
                    <td>R$ {{ product.price }}</td>
                </tr>
                <tr>
                    <th>
                        Lucro:
                    </th>
                    <td>{{ product.profit }}</td>
                </tr>
                <tr>
                    <th>
                        Estoque:
                    </th>
                    <td>{{ product.stock }}</td>
                </tr>
                <center>
                    <div class="form-group">
                        <label for="exampleInputPassword1"> </label>
                        <img src="{{ product.photo }}" class="img-responsive"  height="160" width="160"/>
                    </div>
                </center>

            </table>
            <div>

            </div>
            <div class="row text-center">
                <div class="col-md-5" style="width:32%">
                </div>
                <div class="col-md-5" style="width:40%">
                    <div class="col-md-5" style="width:40%">
                        <a href="{% url 'edit_product' product.pk %}"
                           class="btn btn-default center-block" type="submit">
                            <i class="fas fa-pencil-alt"></i> Editar
                        </a>
                    </div>
                    <div class="col-md-5" style="width:40%">
                        <a href="{% url 'products' %}" id="btn_cancelar" class="btn btn-danger center-block btn-block"
                           type="submit">
                            <i class="fas fa-chevron-left"></i> Voltar
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
            <br>
                <div class="col-md-4 pull-right" style="width:160px">
                    <a href="{% url 'delete_product' product.pk %}" id="btn_del" class="btn btn-default btn-block pull-right">
                        <i class="fa fa-trash" style="color: #dd000b"></i> Deletar Produto
                    </a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}