{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


    <!-- Creating a row for treasure panels -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <center>Cestas Disponíveis</center>
            </h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Looping over each treasure in the treasures list -->

            {% for basket in baskets %}

                <!-- Creating a column for each treasure panel -->
                <div class="col-md-4">
                    <div class="treasure panel panel-default">
                        <!-- Adding treasure title by username -->
                        <div class="panel-heading">
                            <h3 class="panel-title" align="center">{{ basket.name }}</h3>
                        </div>
                        <!-- Adding treasure image -->
                        <div class="panel-body" align="center">
                            <a href="/basket/{{ basket.id }}">
                                <div class="treasure-photo">
                                    <img src="{{ basket.photo }}" height="160" width="160">
                                </div>
                            </a>
                            <!-- Adding Like Button -->

                        </div>
                        <div align="center">R$ {{ basket.price }}</div>

                    </div>
                </div>

                <!-- if last column in row -->
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div><br>
                    <div class="row">
                {% endif %}
            {% endfor %}
            </div>
        <br>
    </div>




{% endblock %}
